<section class="hero is-primary">
    <div class="hero-body">
        <div class="container" style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                ">
            <h1 class="title" style="color:red; margin:0 480px 0 0;">
                Invalid email or password, please try again!
            </h1>
            <a onmouseover="this.style.backgroundColor='black'; this.style.color='red';"
                onmouseout="this.style.backgroundColor='red'; this.style.color='black';" style="
                    background-color: red;
                    display: block;
                    border: 1px solid black;
                    border-radius: 5px;
                    color: black;
                    transition: .3s;
                    padding: 4px 11px;
                " href="/">Go back</a>
        </div>
    </div>
</section>