<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not Found</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container" style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                ">
                <h1 class="title" style="color:#ef0; margin:0;">
                    City not found, please try another name!
                </h1>
                <a onmouseover="this.style.backgroundColor='black'; this.style.color='#ef0';" 
                    onmouseout="this.style.backgroundColor='#ef0'; this.style.color='black';"
                     href="dashboard?" style="
                display: block;
                font-size: 19px;
                border: 1px solid black;
                border-radius: 8px;
                background-color: #ef0;
                color: black;
                transition: .3s;
                padding: 6px 12px;
                ">Go back</a>
            </div>
        </div>
    </section>

</body>
</html>