<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <h3>Please Sign In</h3>
    <form id="signin" name="signin" method="post" action="/signin"
    style="
    display: flex;
    flex-direction:column;
    width: 21%;
    ">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" style="margin-top: 20px;" />
    </form>
 
</body>
 
</html>