<br>
<h3>Please Sign Up</h3>
<br>
<form id="signup" name="signup" method="post" action="/signup" style="
    display: flex;
    flex-direction:column;
    width: 21%;
    ">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="email" />
    <label for="firstname">Firstname</label>
    <input name="firstname" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign Up" style="margin-top: 20px;" />
</form>