<div class="container" style="
    display: flex;
    align-items: center;
    flex-direction: column;
    ">
    <div class="header" style="
    display: flex;
    width: 23%;
    padding-top: 17px;
    justify-content:space-around;
    ">
        <form action="/signin"><input class="btn" type="submit" value="Sign In" /></form>

        <form action="/signup"><input class="btn" type="submit" value="Sign Up" /></form>

        <form action="/dashboard"><input class="btn" type="submit" value="Your Wearher" /></form>

        <form action="/logout"><input class="btn" type="submit" value="Logout" /></form>
    </div>
    {{{body}}}
</div>